.wheather-container {
  background: #8ec9f9;
  color: white;
  box-shadow: 0 2px 2px 0rgba (0, 0, 0, 0.16), 0 0 0 1pxrgba (0, 0, 0, 0.08);
  margin: 24px -1px;
  max-width: 666px;
  border-radius: 10px;
}
h1 {
  font-size: 40px;
  margin: 29px 66px -28px 18px;
  padding: 30px 42px 14px 29px;
}
h2 {
  font-size: 20px;
  margin: 12px 87px -41px 15px;
  padding: 9px 35px;
}
h6 {
  margin: 19px 69px 10px 15px;
  padding: 11px 35px;
}
.main-icon img {
  position: relative;
  top: 21px;
  left: 59px;
  width: 80px;
  height: 80px;
}
.temp {
  font-size: 35px;
  padding: 0px -1px;
}
.units {
  position: relative;
  top: -14px;
  left: -2px;
  font-size: 15px;
}
.grade {
  position: relative;
  top: -12px;
  left: 27px;
}
button {
  position: relative;
  top: -94px;
  right: -118px;
  display: block;
  border: 1px solid white;
  background: white;
  color: #8ec9f9;
  margin: 0 auto;
  line-height: 24px;
  padding: 5px 9px;
  border-radius: 4px;
}
.second-icon {
  font-size: 17px;
}

.form-control {
  display: block;
  position: relative;
  top: -57px;
  left: -150px;
  width: 250%;
}

.newbutton {
  position: relative;
  top: -130px;
  right: -183px;
  display: block;
  border: 1px solid white;
  background: white;
  color: #8ec9f9;
  margin: 0 auto;
  line-height: 24px;
  padding: 5px -2px;
  border-radius: 4px;
}
.active {
  color: white;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
  margin: 0px -1px;
}

.weather-forecast-temperatures {
  font-size: 13px;
  margin: 5px 3px;
}

.weather-forecast {
  margin-left: 41px;
  margin-top: 52px;
  margin-bottom: -23px;
  padding-bottom: 35px;
}
.weather-forecast-date {
  margin: 4px 9px;
}
